body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {

}


html[theme="dark"] {
    filter: invert(1) hue-rotate(180deg);
}

/* 防止图片等被干扰到 */
img[theme="dark"],
video[theme="dark"],
canvas[theme="dark"] {
    filter: invert(1) hue-rotate(180deg);
}

._li-quarter>li{
    width: 25%;
}

._flex-space-between{
    display: flex;
    justify-content: space-between;
}

._hover-inline-block-show:hover{
    display: inline-block;
}

._display-none{
    display: none;
}